#solo{
    display:flex;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 200px;
    position: fixed ;top: 0px;
    background-color: #fff;
   
}
#solo img{
   
    width: 20%;
}
#solo ul li {
    display:inline;
    margin-right: 15px;
}
#le{
    padding-right: 10px;
padding-top: 50px;

}
#haha{
   
    color:#00b39b;
}
#la img {
    padding-right:350px;
}
body{ 
  
    
    background-color: white;
}
#div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;


}

#div2{  padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right:200px;
    padding-left: 200px;
    color: #747474;
    font-family: 'Work Sans', sans-serif;
}
#sui{
    padding-right: 80px;
}
#firsta {
    color:#00b39b ;
    text-decoration: none;
}
#solo  .navA {
    text-decoration: none;
color: #747474;

}
#solo .navA:hover {
color: #00b39b;

}
.Card h1,.Card h2{
    font-family: 'Work Sans', sans-serif;
}
.Card {
    background-color:#00b39b ;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    border-radius: 15px;
    padding-left: 2%;
    padding-right:2% ;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 27%;
    height:300px;
}
.Card h2{
    font-weight: lighter;
 }
 .Card h1{ font-weight: bold;}
#section1{
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right:15%;
}
.Card select{
    position: relative;
    top: 20%;
}
#brands li{
    display: inline;
        padding-right: 15px;

}

#brands {
    display: flex;
margin-right:15% ;
margin-left:15% ;

}
#brands div{
    width:75%;
}
#brands img{
    width: 100px;
}
#brands h1{
    font-family: 'Work Sans', sans-serif;
    color: #00b39b;
    font-weight:600;
}
#mono{
    font-family:  'Work Sans', sans-serif;
    color: #00b39b;
  
}
#mono p{
    font-weight:600;
}
#mono  {
    background-color: #d9f6f6;
    display: grid;
    grid-template-columns: repeat(20,5%);
    grid-template-rows: repeat(50,2%);
height: 800px;
}

#sabo h1{
    color: #00b39b;
    font-family: 'Work Sans', sans-serif;
  
}
#sabo p{
    color:#747474 ;
    font-family:'Work Sans', sans-serif ;
    font-weight: 600;
}
#sabo h1,#sabo p{
    display: flex; 
    justify-content: center;
   align-items: center;
   padding-right: 400px;
   padding-left:400px;
   
  
}
#sabo{
    padding-bottom: 100px;
    padding-top: 60px;

}

.play{
    padding-right:10px ;

    padding-left:10px; 
    border-radius: 7px;
}
.play h1{
    
padding-left:30px;
}
.play h3{
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    color: #747474;
    padding-left: 5px;
    padding-right: 5px;
}
#mono div:first-child{
    grid-column: 5/10;
    grid-row: 3;
    }
    #mono div:nth-child(2){
    grid-column:12/15 ;
     grid-row:4/20;
     background-color: #fff;
    
    }
#mono div:nth-child(3){
    grid-row:2/18;
    grid-column:16/19;
    background-color: #fff;
    
    padding-top: 10px;
}
#mono div:nth-child(4){
    grid-row: 23/39;
    grid-column:12/15;
    background-color: #fff;
   
}
#mono div:nth-child(5){
    grid-row: 20/36;
    grid-column:16/19;
    background-color: #fff;
   
}
#photo{
    display: flex;
justify-content: space-around;
}
#photo h2{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #747474;
}
.most {
    display: flex;
  
}
.most button{
    height: 30px;
    margin-left: 90px;
    margin-bottom: 10px;
    margin-top: 15px;
    
}



    
